@import url("./header.css");
@import url("./options.css");
@import url("./backdrop.css");

#ExitApp {
  z-index: 1000000000000000 !important;
  scale: 1 !important;
  margin-top: 0 !important;
}

#ExitApp div.body {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ExitApp div.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin-top: 50px;
  padding: 40px;
  background-color: var(--glass-bg);
  border: var(--win-border);
  backdrop-filter: blur(var(--glass-blur));
  text-align: center;
  border-radius: var(--win-border-rad);
  scale: 0.9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 5px 15px 5px #0003;
}

#ExitApp div.content.show {
  margin-top: 0px;
  scale: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

#ExitApp div.content div.confirm {
  display: flex;
  gap: 20px;
}

#ExitApp div.content div.confirm button:not(.suggested) {
  background-color: var(--button-glass-bg);
}

#ExitApp div.content * {
  margin: 0;
}
