#ExitApp {
  z-index: 1000000000000000 !important;
  scale: 1 !important;
  margin-top: 0 !important;
}

#ExitApp div.body {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ExitApp div.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: var(--win-border);
  text-align: center;
  width: 400px;
  border-radius: var(--win-border-rad);
}

#ExitApp div.content h1 {
  font-size: 22px;
}

#ExitApp div.content div.header {
  margin-bottom: 20px;
}

#ExitApp div.content div.header p {
  opacity: 0.5;
}

#ExitApp div.content div.options {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: var(--button-hover-bg) 1px solid;
  padding-bottom: 20px;
}

#ExitApp div.content div.options button {
  width: 80px;
  height: 75px;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}

#ExitApp div.content div.options button .icon {
  height: 32px;
}

#ExitApp div.content div.options button.selected {
  color: var(--accent-darkest);
  background-color: var(--accent);
}

#ExitApp div.content div.confirm {
  display: flex;
  gap: 20px;
}

#ExitApp div.content div.confirm button:not(.suggested) {
  background-color: var(--button-glass-bg);
}

#ExitApp div.content * {
  margin: 0;
}

#ExitApp div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: var(--wallpaper);
  filter: brightness(0.5);
  z-index: -1;
}
